@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --toastify-success: #22c55e;
  --toastify-error: #ef4444;
}

button {
  cursor: pointer;
}

/* @theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
} */

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Patient KYC section */
.patient-kyc-input-row {
  @apply flex flex-col md:flex-row items-start gap-[1.5rem] md:gap-[1.94rem] lg:gap-[2.5rem];
}

.patient-kyc-input-col {
  @apply w-full md:w-1/2;
}

.patient-kyc-label {
  @apply block text-[#33607E] text-[1.1rem] font-medium leading-normal mb-[0.25rem];
}

.patient-kyc-input {
  @apply w-full bg-white border rounded-[0.5rem] px-[0.75rem] py-[0.8rem] md:py-[1rem] text-base leading-[1.5rem] outline-none disabled:text-gray-600;
}

.profile-label {
  @apply inline-block text-[#666666] text-[1.1rem] font-["DM_Sans"] font-medium leading-[1.25rem] mb-[0.25rem];
}